{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <img src="{% static 'img/vkusno3.jpg'%}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        <a class="navbar-brand" href="#">ВкуснОоо!</a>
        <a class="navbar-brand" href="#">Вкусотийки в чинийки!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'meat meals' %}">Meat Meals</a>
                        <a class="dropdown-item" href="{% url 'pasta and dough' %}">Pasta and Dough</a>
                        <a class="dropdown-item" href="{% url 'meatless meals' %}">Meatless Meals</a>
                        <a class="dropdown-item" href="{% url 'healthy and dietetic' %}">Healthy and Dietetic</a>
                        <a class="dropdown-item" href="{% url 'vegan' %}">Vegan</a>
                        <a class="dropdown-item" href="{% url 'desserts' %}">Desserts</a>
                        <a class="dropdown-item" href="{% url 'other' %}">Other</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create recipe' %}">Create Recipe</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

