{% extends 'partials/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>ВкуснОоо! Вкусотийки в чинийки!| Vegan</title>
    {% endblock %}

</head>
<body>
{% block site_content %}
    <h1 class="masthead-subheading text-dark text-center">Recipes for our Vegan Users</h1>
    <div class="d-inline p-52 w-50 text-center align-content-center">
    {% if not recipe %}
        <h3 class="masthead-subheading text-dark text-center">There are no recipes currently.
            You can sign up/ in and share your favourite one!</h3>
    {% endif %}
    {% for rec in recipe %}
        <div class="card" style="width: 18rem;">
            <img src="{{ rec.photo.rec.id }} " class="card-img-top" alt="recipe_photo">
            <div class="card-body">
                <h5 class="card-title">{{ rec.title }}</h5>
                <p class="card-text"> <img src="{% static 'img/cooking time.png' %}" width="40" height="40"
             class="d-inline-block align-top">Total Time needed: {{ rec.time }} (min)</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    {% endfor %}

{% endblock %}
</body>
