{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ВкуснОоо! Вкусотийки в чинийки!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <img src="{% static 'img/vkusno3.jpg' %}" width="40" height="40" class="d-inline-block align-top" alt=""
             loading="lazy">
        <a class="navbar-brand" href="#">ВкуснОоо!</a>
        <a class="navbar-brand" href="#">Вкусотийки в чинийки!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Meat Meals</a>
                        <a class="dropdown-item" href="#">Pasta and Dough</a>
                        <a class="dropdown-item" href="#">Meatless Meals</a>
                        <a class="dropdown-item" href="#">Healthy and Dietetic</a>
                        <a class="dropdown-item" href="#">Vegan</a>
                        <a class="dropdown-item" href="#">Desserts</a>
                        <a class="dropdown-item" href="#">Other</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create recipe' %}">Create Recipe</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            {% block contents %}
                <video name='video_vkusno' controls autoplay width='50%' height='40%'>
                    <source src="{{ media }}/static/media/video_vkusno.mp4" type="video/mp4"></source>
                </video>
            {% endblock %}
            <h1 class="masthead-heading mb-0">ВкуснОоо!</h1>
            <h2 class="masthead-subheading mb-0">Вкусотийки в чинийки!</h2>

            <a href="{% url 'all recipes' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>






<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; ВкуснОоо! Вкусотийки в чинийки! 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
