{% extends 'partials/base.html' %}
{% block title %}
    <title>ВкуснОоо! Вкусотийки в чинийки!| Sign Up</title>
{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}

{% load bootstrap4 %}

{% block site_content %}
    <h1 class="text-center text-dark">Sign Up</h1>
    <div class="row d-flex justify-content-center">
        <form method="POST" action="{% url 'register user' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form %}
                {% bootstrap_field field show_label=True %}

            {% endfor %}

            {% for field in profile_form %}
                {% bootstrap_field field %}

            {% endfor %}


            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg rounded-pill mt-5 center-block" value="Sign Me Up">
            </div>

            <div class="form-group">
                <p class="alert-dismissible">Or login here: <a href="{% url 'login view' %}"
                                                               class="btn btn-primary btn-sm rounded-pill mt-sm-n1">
                    Sign Me In</a></p>
            </div>
        </form>
    </div>

{% endblock %}
